
@import "`animate.css";

html{
	scroll-behavior: smooth;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	min-height: 100vh;
	display: flex;
	font-size: 16px;
}

.text-orange {
	color: #FAAB00 !important;
}

.text-green {
	color: #169137 !important;
}

.text-blue {
	color: #4EC8D6 !important;
}

.text-red {
	color: #ED0004 !important; 
}


.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Landing Page */

.landing-page-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

#all-content {
	height: 85vh;
	width: 50vw;
	display: flex;
	justify-content: center;
}

#circles-container {
	height: 50vh;
	width: 43vw;
	position: absolute;
}

#circles {
	height: 95%;
	margin: 0.5rem;
	position: relative;
}

#circle-black{
	position: absolute;
	height: 200px;
	left: -45px;

	animation-duration: 500ms;
}

#blue-outline {
	height: 150px;
	position: absolute;
	top: 210px;
	left: 25px;
	animation-duration: 600ms;
}

#left-purple-outline {
	height: 140px;
	position: absolute;
	top: 5px;
	left: 120px;

	animation-duration: 800ms;
}

#green-outline {
	height: 140px;
	position: absolute;
	top: 5px;
	left: 260px;

	animation-duration: 1100ms;
}

#grey-circle {
	height: 165px;
	position: absolute;
	top: 150px;
	left: 280px;

	animation-duration: 1300ms;
}

#right-black-outline {
	height: 110px;
	position: absolute;
	top: 90px;
	left: 440px;
	z-index: 100;

	animation-duration: 1400ms;
}



#greetings {
  height: 25vh;
  width: 25vw;
  position: absolute;
  top: 440px;
  left: 595px;
  z-index: 20;
}

#greetings .section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
}

#greetings #text1 {
  margin-bottom: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;

  animation-delay: 1500ms;
}

#greetings #text2 {
  margin-bottom: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f25209;

  animation-delay: 2000ms;
}

#greetings #text3 {
  margin-bottom: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;

  animation-delay: 2500ms;
}

#greetings .socmed-icons {
	height: 25px;
  margin: 5px 0;
  animation-delay: 3000ms;
}

#greetings .socmed-icons i {
  font-size: 24px;
  margin: 0 5px;
  color: #292f36;
}

/* hover effects */


#orange-circle-container {
	height: 100px;
	width: auto;
	position: absolute;
	top: 220px;
	left: 450px;
	z-index: 100;
	animation-duration: 1000ms;
	transition: all 0.3s;
}

#orange-circle-container:hover {
	animation-iteration-count: 0;
}

#left-aqua-container {
	height: 120px;
	width: auto;
	position: absolute;
	top: 160px;
	left: 120px;
	z-index: 200;
	animation-duration: 700ms;
	transition: all 0.3s;
}

#left-aqua-container:hover {
	animation-iteration-count: 0;
}

#yellow-circle-container {
	height: 100px;
	width: auto;
	position: absolute;
	top: 200px;
	left: -100px;
	z-index: 1000;
	animation-duration: 900ms;
	transition: all 0.3s;
}

#yellow-circle-container:hover {
	animation-iteration-count: 0;
}

#right-red-container {
	height: 80px;
	width: auto;
	position: absolute;
	top: 180px;
	left: 430px;
	z-index: 2000;
	animation-duration: 1200ms;
	transition: all 0.3s;
}

#right-red-container:hover {
 	animation-iteration-count: 0;
}


.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}

#left-aqua {
	height: 150px;
	width: auto;
	position: absolute;
	left: 35px;
	top: -20px;
}

.left-aqua-middle {
	top: 60%;
	left: 50%;
}

.middle {
	transition: .5s;
	opacity: 0;
	position: absolute;
	z-index: 100;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}


.left-aqua-middle {
  top: 70px;
  left: 100px;
  width: 100px;
  text-decoration: none;
}

.orange-circle-middle {
  top: 60%;
  left: 50%;
}

.yellow-triangle-middle {
  top: 40%;
  left: 50%;
}

.right-red-middle {
  top: 70%;
  left: 50%;
}

.text {
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	color: #F25209;

}

.left-aqua-text {
	font-size: 18px;
	padding: 18px auto !important;
	
	text-decoration: none;
}

.orange-circle-text {
  font-size: 16px;
  padding: 16px auto;
  color: white;
}


.yellow-circle-text {
  font-size: 12px;
  padding: 12px auto;
}

.right-red-text {
  font-size: 10px;
  padding: 10px auto;
}

.text:hover {
  text-decoration: none;
}

.image {
  margin: 0;
  padding: 0;
  opacity: 1;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

  .grow {
        transition: all .2s ease-in-out;
      }

  .grow:hover {
          transform: scale(1.5);
        }

        /* section 1 */

.about-me {
  height: 100vh;
  display: flex;
	flex-direction: column;
}

.about-me .section-title-container {
  height: 25%;
  margin-left: 15%;
  display: flex;
  align-items: flex-end;
}

.about-me .section-content {
  margin-left: 15%;
  height: 75%;
  display: flex;
  align-items: center;
}

.about-me .section-text {
  height: 100%;
	width: 60%;
	background-color: #FFFFFF;
	display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.about-me .profile-pic {
  height: 100%;
	width: 40%;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.about-me p {
	margin: 1.5% 0 1.5% 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.about-me img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.custom-btn {
	width: 175px;
	height: 35px;
	margin: 10px 5px 0 0 !important;
	border-style: none;
	border:2px solid #F25209;
	background-color: #F25209;
	color: white !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
}

.custom-btn:hover {
	background-color: #FFFFFF !important;
	color: #F25209 !important;
	border: 2px solid #F25209 !important;
}


/*section 2*/

.portfolio {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.portfolio .section-title-container {
  margin-top: 10%;
  margin-left: 15%;
  display: flex;
  align-items: flex-end;
}

.portfolio .section-content {
  margin-left: 15%;
  height: 75%;
  display: flex;
	flex-direction: column;
  align-items: center;
}

.project-content {
  margin-top: 7.5%;
  height: 100%;
	width: 100%;
  display: flex;
}

.project-content .left-section, .right-section {
  height: 100%;
	width: 50%;
	display: flex;
  flex-direction: column;
	justify-content: center;
	padding: 0 2.5%;
	position: relative;
}

.portfolio img {
	width: 450px;
	position: absolute;
}

.pseudo-btn {
	width: 100px;
	height: 35px;
	margin: 10px 5px 0 5px;
	border-style: none;
	background-color: #4EC8D6;
	color: white;
	text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.15em;
	z-index: 10000;
}

.right-section h2 { 
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
  text-transform: uppercase;
}

.left-section h2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: uppercase;
}

.right-section p {
	margin: 1.5% 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.left-section p {
	margin: 1.5% 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.right-section .code {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-section .code {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-section .code > a {
	margin: 10% 1.5%;
}

.left-section .code > a {
	margin: 10% 1.5%;
}


/*section 3*/

.skills {
	height: 100vh;
	width: 100%;
	display: flex;
  flex-direction: column;
}

.skills .section-title-container {
  height: 25%;
  margin-left: 15%;
  display: flex;
  align-items: flex-end;
}

.skills .section-content {
  margin-left: 15%;
  height: 75%;
  display: flex;
  align-items: center;
}

.skills .toolkit {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
}

.skills .toolkit > img {
	height: 125px;
	width: 100px;
  margin: 3% 1.5%;
  transition: all 0.3s ease-in-out;
}

.skills .toolkit > img:hover {
	transform: scale(1.1);
}


/*section 4*/

.contact {
	height: 100vh;
  display: flex;
	flex-direction: column;
}

.contact .section-title-container {
  height: 25%;
  margin-left: 15%;
  display: flex;
  align-items: flex-end;
}

.contact .section-content {
  margin-left: 15%;
  height: 75%;
  display: flex;
}

.contact .section-text {
  height: 100%;
	width: 40%;
	display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.contact p {
	font-family: 'Raleway', sans-serif;
}

/* ---------------------------------------------------
  MEDIA QUERIES
----------------------------------------------------- */

@media only screen and (max-width: 360px),
  only screen and (min-device-width: 375px) 
  and (max-device-width: 812px),
  only screen and (min-device-width: 411px) 
  and (max-device-width: 823px)
{

  #all-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  #triangles-container {
    top: 275px;
    height: 50vh;
    width: 75vw;
    position: absolute;
  }
  
  #triangles {
    height: 95%;
    margin: 0.5rem;
    position: relative;
  }
  
  #circle-triangle {
    height: 170px;
    left: -35px;
  }
  
  #blue-outline {
    height: 75px;
    top: 138px;
    left: -5px;
  }
  
  #left-black-outline {
    height: 65px;
    top: 52px;
    left: 60px;
  }
  
  #orange-outline {
    height: 60px;
    top: 10px;
    left: 108px;
  }
  
  #blue-triangle {
    height: 80px;
    top: 50px;
    left: 145px;
  }
  
  #right-black-outline {
    height: 50px;
    top: 60px;
    left: 208px;
  }
  
  #greetings {
    height: 25vh;
    width: 75vw;
    position: absolute;
    top: 125px;
    left: 25px;
    z-index: 20;
  }
  
  #greetings #text1 {
    font-size: 18px;
  }
  
  #greetings #text2 {
    font-size: 36px;
  }
  
  #greetings #text3 {
    font-size: 14px;
  }

  #black-triangle-container {
    height: 85px;
    top: 85px;
    left: 94px;
  }
  
  #left-orange-container {
    height: 55px;
    top: 78px;
    left: 30px;
  }
  
  #yellow-triangle-container {
    height: 40px;
    top: 125px;
    left: 88px;
  }
  
  #right-orange-container {
    height: 35px;
    top: 120px;
    left: 158px;
  }
  
  .container:hover .image {
    opacity: 1;
    transform: scale(2.25);
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .black-triangle-text {
    font-size: 14px;
    padding: 14px auto;
  }
  
  .left-orange-text {
    font-size: 12px;
    padding: 12px auto;
  }
  
  .yellow-triangle-text {
    font-size: 10px;
    padding: 10px auto;
  }
  
  .right-orange-text {
    font-size: 8px;
    padding: 8px auto;
  }

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

/* section 1 */

.about-me {
  height: 1280px;
}

.about-me .section-title-container {
  height: 5%;
  margin-left: 0;
  padding-top: 150px;
  justify-content: center;
}

.about-me .section-content {
  padding-top: 350px;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  flex-direction: column-reverse;
}

.about-me .profile-pic {
  width: 100%;
}

.about-me img {
	width: 250px;
	height: 250px;
}

.about-me .section-text {
	width: 80%;
}

.about-me p {
  margin-bottom: 1.5rem;
}

.custom-btn {
  margin: 10px auto;
}

/*section 2*/

.portfolio {
  height: 1920px;
}

.portfolio .section-title-container {
  margin-top: 0;
  height: 8%;
  margin-left: 0;
  justify-content: center;
}

.portfolio .section-content {
  margin-left: 0;
  display: flex;
	flex-direction: column;
  align-items: center;
}

.project-content {
  height: 100%;
	width: 100%;
  display: flex;
	flex-direction: column;
}

.portfolio img {
  width: 325px;
}

.project-content .left-section, .right-section {
  height: 100%;
  width: 100%;
  margin-top: 30%;
  padding: 0 2.5%;
}

.right-section h2 {
  justify-content: center;
}

.left-section h2 {
  justify-content: center;
}

.right-section p, .left-section p {
	margin: 1.5% 3%;
}

#project-content-3 {
  flex-direction: column-reverse !important;
}

.tools {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*section 3*/

.skills {
	height: 640px;
	width: 100%;
}

.skills .section-title-container {
  height: 25%;
  margin-left: 0;
  justify-content: center;
}

.skills .section-content {
  margin-left: 0;
  display: flex;
	flex-direction: column;
  align-items: center;
}

.skills .toolkit {
  justify-content: center;
  margin-top: 10%;
}

.skills .toolkit > img {
	height: 75px;
	width: 60px;
}

/*section 4*/

.contact {
	height: 640px;
}

.contact .section-title-container {
  height: 25%;
  margin-left: 0;
  justify-content: center;
}

.contact .section-content {
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact .section-text {
  width: 80%;
  text-align: center;
}

}